
# maintain the folder 
/runs/**/
/data/**
!/data/restarts/
/data/restarts/**
!/data/restarts/rs6_mini_Channel/
!/data/restarts/rs6_mini_Channel/**
*mask*
!runs/readme.md
!data/readme.md
!data/restarts/rs6_mini_Channel/**/*
envs/solver/**/
!envs/solver/*tar*
/execs/log-files/
ucx_mpi/
miniforge3/
*log*
*DATA*
/post_processing/stats/int_fld
*.o