/.new_actuate_ctrl
/from_MA

*02_run*
*03_results*
*04_readText*

*0.f*
*int_fld*
*int_pos*
*.mat*
*marl-channelflow*
*logfile*
*logrun*
*.npz*
*outputs*
*runs/*

*replay_buffer*

## Restart here
!02-DRL/01-TCF/rs6/rs6_mini_Channel/


02-DRL/**/runs/**/logs/
02-DRL/**/runs/**/tensorboard/
02-DRL/**/runs/**/figs/
02-DRL/**/runs/**/rewards_*.csv
**/env.csv.monitor.csv
*.tfevents.*
*.zip

02-DRL/01-TCF/runs/**/history/**/
02-DRL/01-TCF/runs/**/round*/**/
# maintain the folder 
!runs/readme.md
!data/readme.md
!data/rs6_mini_Channel/**/*
envs/solver/**/
!envs/solver/*tar*

!src/**/
!src/lib/writer_int_pos.py

log-files/
ucx_mpi/
miniforge3/
*log*